.card {
  text-align: left;
  -webkit-box-shadow: 3px 4px 9px 0px rgba(0,0,0,0.51);
  -moz-box-shadow: 3px 4px 9px 0px rgba(0,0,0,0.51);
  box-shadow: 3px 4px 9px 0px rgba(0,0,0,0.51);
}
.l-h-30 {
  line-height: 30px;
}
.l-h-30 > p {
  margin-bottom: 0 !important;
}